body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("Screenshot (123).png"); /* Replace "sasuke.jpg" with the actual path to your image */
  background-size: 1300px 180px;
  background-position: top;
  background-repeat:no-repeat;
  background-color: black;


}

header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  font-size: large;
  text-align: center;
  color: aliceblue;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}

main {
  padding: 20px;
}

.search-bar {

  margin-top: 25px;
  margin-left: 30%;

  
}

.search-bar label {
  display: block;
  margin-bottom: 5px;
}

.search-bar select,
.search-bar input[type="text"] {
  width: 35%;
  padding: 10px;
  margin-bottom: 10px;
}

.search-bar button {
  background-color: #e40f0f;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 5px;
}

.recommendations {
  border-top: 1px solid #ccc;
  padding-top: 5px;
  margin-top: 20px;
}



#recommendation-list {
  list-style: none;
  padding: 3px;
  display: flex; /* Make items display side-by-side */
  flex-wrap: wrap; /* Wrap items onto multiple rows */
  justify-content: space-between;
  width: 100%;
}

#recommendation-list li.recommendation-item {
  margin-bottom: 2px; /* Adjust spacing between items */
  width: 12.5%; /* Adjust width based on desired number of images (change 20% as needed) */
  padding: 3px;
  transition: transform 0.3s ease;
}
#recommendation-list li.recommendation-item:hover {
  /* Scale the item up to create a "pop up" effect */
  transform: scale(1.1);
}

#recommendation-list li.recommendation-item img {
  width: 100%; /* Set image width to match recommendation item width */
  height: 220px; /* Maintain aspect ratio */
  border-radius: 5px;
}

.recommendation-title {
 
  margin-top: 1px; /* Add spacing between image and title */
  text-align: center; /* Center title text */
  font-family:monospace;
  color: aliceblue;
  font-size:1.15em;
}

.recommendation-item a {
  text-decoration: none;
}


h2{
  color: aliceblue;
}

.selected-anime {
  /* Use flexbox for layout */
  display: flex;
  /* Align items vertically in the center */
  margin: 10px;
  
  color:aliceblue;
  font-size:large;

  font-family:monospace
}

.anime-image {
  /* Adjust the width as needed */
  width: 30%;
  
  /* Add some space between the image and the info */
  height: auto;
}
.anime-image img {
/* Set the width of the image */
width: 200px;  /* adjust as needed */
margin-top: 5px;
border-radius: 5px;
/* To maintain the aspect ratio of the image, 
   you can set the height to auto */
height: 300px;
}


.anime-info h3{
  font-size: larger;
}

.anime-info {
width: 100%;
 
margin-top: -20px;
margin-left: -40px;

}

.anime-details {
list-style: none;
padding: 0;
margin: 0; /* Remove default list styling */
}


/* Show the anime-trailer div only when there's a link */
.anime-trailer.has-trailer {
display: block;
}


.genre-filter ul {
  justify-content:center; 
  width: 70%;
  margin-left: 14%;

}
.genre-item 
{
  padding: 3px;
}

.genre-button {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #000000;
  border-radius: 25px;
  margin-bottom: 4px;
  text-decoration: none;
  color: #333;
  font-size: 1.1em; 
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; 
}

.genre-button:hover {
  background-color: #000000;
  color: white;
}

.error{
  margin: 50px;
  padding: 10px;
}
.error h1{
  color: aliceblue;
  text-align: center;
  font-size: 3em;

}

.error p {
    color: aliceblue;
    text-align: center;
    font-size: 2em;
}

.error a{
  font-size: x-large;
  margin-left: 44%;
}

.review-box {
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    margin-bottom: 10px;
    padding: 5px;
    overflow:auto;
    height: 180px;
    background-color: #f9f9f9;
    width: 80%;
    margin-left: 10%;
}

.review-box p {
    font-size: 15px;
   
}

.review-box .positive {
    color: green;
}

.review-box .negative {
    color: red;
}