<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <header>
    <h1>ANIME RECOMMENDATION SYSTEM</h1>
  </header>
  <main>
    <section class="error">
      <h1>Oops! An error occurred.</h1>
      <p>We encountered a problem while processing your request.</p>
      {% if error_message %}
      <p>{{ error_message }}</p>
      {% endif %}
      <p>Please try again later or contact us for assistance.</p>
      <a href="/home">Home</a>
    </section>
  </main>

</body>

</html>