<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Recommendation System</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <header>
    <h1>ANIME RECOMMENDATION SYSTEM</h1>
  </header>
  <main>



    <section class="search-bar">
      <form id="search-form" action="{{ url_for('anime_recommendations') }}" method="GET">
        <input type="text" name="watched" id="watched" placeholder="Enter anime title">
        <button type="submit">Get Recommendations</button>
      </form>
    </section>

    <section class="genre-filter">
      <ul style="display: flex; flex-wrap: wrap; list-style: none;">
        {% for genre in genres %}
        <li class="genre-item">
          <a href="{{ url_for('get_animes_by_genre',genre=genre) }}" class="genre-button">{{ genre }}</a>
        </li>
        {% endfor %}
      </ul>
    </section>



    <section class="recommendations">

      <h2>Recommended For You</h2>
      <ul id="recommendation-list">
        {% for anime in mf_rating %}
        <li class="recommendation-item">
          <a href="{{ url_for('anime_recommendations', watched= anime.title) }}">
            <img src="{{ anime['image'] }}" alt="{{ anime.title }}">
            <h3 class="recommendation-title">{{ anime.title }}</h3>
          </a>
        </li>
        {% endfor %}
      </ul>

      <h2>Highest Rated</h2>
      <ul id="recommendation-list">
        {% for anime in best %}
        <li class="recommendation-item">
          <a href="{{ url_for('anime_recommendations', watched= anime.title) }}">
            <img src="{{ anime['image'] }}" alt="{{ anime['title'] }}">
            <h3 class="recommendation-title">{{ anime.title }}</h3>
          </a>
        </li>
        {% endfor %}
      </ul>
      <h2>Popular Anime</h2>
      <ul id="recommendation-list">
        {% for anime in popular %}
        <li class="recommendation-item">
          <a href="{{ url_for('anime_recommendations', watched= anime.title) }}">
            <img src="{{ anime['image'] }}" alt="{{ anime['title'] }}">
            <h3 class="recommendation-title">{{ anime.title }}</h3>
          </a>
        </li>
        {% endfor %}
      </ul>
      <h2>Popular Anime Movies</h2>
      <ul id="recommendation-list">
        {% for anime in popular_movie %}
        <li class="recommendation-item">
          <a href="{{ url_for('anime_recommendations', watched= anime.title) }}">
            <img src="{{ anime['image'] }}" alt="{{ anime['title'] }}">
            <h3 class="recommendation-title">{{ anime.title }}</h3>
          </a>
        </li>
        {% endfor %}
      </ul>

      <h2>For Children</h2>
      <ul id="recommendation-list">
        {% for anime in children %}
        <li class="recommendation-item">
          <a href="{{ url_for('anime_recommendations', watched= anime.title) }}">
            <img src="{{ anime['image'] }}" alt="{{ anime['title'] }}">
            <h3 class="recommendation-title">{{ anime.title }}</h3>
          </a>
        </li>
        {% endfor %}
      </ul>

    </section>
  </main>

</body>

</html>