<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Recommendation System</title>
  <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
  <header>
    <h1>ANIME RECOMMENDATION SYSTEM</h1>
  </header>
  <main>
    <section class="intro">
      {% if selected %}
      <div class="selected-anime">
        <div class="anime-image">
          <img src="{{ selected['image'] }}" alt="{{ selected['title'] }}">
        </div>
        <div class="anime-info">
          <h3>{{ selected['title'] }}</h3>
          <p>{{ selected['synopsis'] }}</p>
          <ul class="anime-details">
            <li>Episodes: {{ selected['episodes'] }}</li>
            <li>Type: {{ selected['type'] }}</li>
            <li>Duration: {{ selected['duration'] }}</li>
           <li >Genres: {{ selected['genres']  }}</li>
           <li >Rating: {{ selected['rating']  }}</li>
           <li >Score: {{ selected['score']  }}</li>
           <li >Themes: {{ selected['themes']  }}</li>


            <li><a href="{{ selected['url'] }}" target="_blank">For more info....</a></li>


          </ul>
          {% if selected['trailer'] != "no_trailer" %}
          <div class="anime-trailer">
            <h2>Trailer</h2>
            <iframe width="450" height="250" src={{ selected['trailer'] }} frameborder="0" allow="clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>
          </div>
          {% endif %}

        </div>
      </div>
    {% else %}
      <p>No anime selected yet.</p>
    {% endif %}
    
    </section>
    <section class="recommendations">
      <h2>Recommended Anime</h2>
      <ul id="recommendation-list">
        {% for recommendation in recommendations %}
        <li class="recommendation-item">
          <form action="{{ url_for('predict') }}" method="post">
            <input type="hidden" name="watched" value="{{ recommendation.Name }}">
            <a href="#" onclick="submitForm(this)">
              <img src="{{ recommendation.Image }}" alt="{{ recommendation['Name'] }}">
            <h3 class="recommendation-title">{{ recommendation.Name }}</h3>
          </a>
          </form>
        </li>
      {% endfor %}
      
      </ul>
    </section>
  </main>
  <script>
    function submitForm(element) {
      element.parentElement.submit(); // Submit the parent form of the clicked element
    }
    </script>
</body>
</html>
