<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Recommendation System</title>
  <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
  <header>
    <h1>ANIME RECOMMENDATION SYSTEM</h1>
  </header>
  <main>
    <section class="intro">
      {% if selected %}
      <div class="selected-anime">
        <div class="anime-image">
          <img src="{{ selected['image'] }}" alt="{{ selected['title'] }}">
        </div>
        <div class="anime-info">
          <h3>{{ selected['title'] }}</h3>
          <p>{{ selected['synopsis'] }}</p>
          <ul class="anime-details">
             <li>Episodes: {{ selected['episodes'] }}</li>
      
            <li>Type: {{ selected['type'] }}</li>
            <li>Duration: {{ selected['duration'] }}</li>
            <li>Genres: 
              
              {% for genre in selected['genres'].split(',') %}
              <a href="{{ url_for('get_animes_by_genre',genre=genre) }}" style="text-decoration: none;color: aliceblue; display: inline-block; padding: 2px; margin: 2px; border: 1px solid #ddd;">{{ genre }}</a>
                {% if not loop.last %} {% endif %}
              {% endfor %}
            </li>
           <li >Rating: {{ selected['rating']  }}</li>
           <li >Score: {{ selected['score']  }}</li>
            {% if selected['themes'] != "unknown_theme" %}
            <li >Themes: {{ selected['themes']  }}</li>
            {% endif %}

            <li><a href="{{ selected['url'] }}" target="_blank">For more info....</a></li>


          </ul>
          {% if selected['trailer'] != "no_trailer" %}
          <div class="anime-trailer">
            <h2>Trailer</h2>
            <iframe width="450" height="250" src={{ selected['trailer'] }} frameborder="0" allow="clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>
          </div>
          {% endif %}

        </div>
      </div>
    {% else %}
      <p>No anime selected yet.</p>
    {% endif %}
    
    </section>
    <section class="recommendations">
      <h2>Recommended Anime</h2>
      <ul id="recommendation-list">
        {% for recommendation in recommendations %}
        <li class="recommendation-item">
          <a href="{{ url_for('anime_recommendations', watched = recommendation.Name) }}">
            
              <img src="{{ recommendation.Image }}" alt="{{ recommendation['Name'] }}">
            <h3 class="recommendation-title">{{ recommendation.Name }}</h3>
          </a>
          </form>
        </li>
      {% endfor %}
      
      </ul>
    </section>
    <section class = 'reviews'>
      <form action="/get_reviews" method="get">
          <input type="hidden" name="anime-id" value="{{ selected['mal_id'] }}">
          <button type="submit">Reviews</button>
      </form>
      <div id="reviewBox"></div>
  </section>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $("button").click(function(e){
      e.preventDefault();  // Prevent the form from submitting normally
      $.ajax({
        url: "/get_reviews",
        type: "get", //send it through get method
        data: { 
          "anime-id": "{{ selected['mal_id'] }}"
        },
        success: function(response) {
          // Hide the button
          $("button").hide();
          
          // Clear previous reviews and sentiments
          $("#reviewBox").empty();
          
          // Check if there are no reviews
          if (response.reviews[0] == "No reviews found") {
            $("#reviewBox").append("<p class='no-reviews'>No reviews found</p>");
          } else {
            // Iterate over each review and sentiment
            for (var i = 0; i < response.reviews.length; i++) {
              // Create a new div for the review and sentiment
              var reviewDiv = $("<div></div>").addClass("review-box");
              
              // Create a new paragraph for the review and sentiment
              var reviewPara = $("<p></p>").text(response.reviews[i]);
              
              
              // Change the color of the review based on the sentiment
              if (response.sentiments[i] == 'positive') {
                reviewPara.addClass('positive');
              } else if (response.sentiments[i] == 'negative') {
                reviewPara.addClass('negative');
              }
              
              // Append the review and sentiment to the review div
              reviewDiv.append(reviewPara);
              
              // Append the review div to the review box
              $("#reviewBox").append(reviewDiv);
            }
          }
        },
        error: function(xhr) {
          //Do Something to handle error
          console.log(xhr);
        }
      });
    });
  });
  </script>
  




 
  

  

  </main>

</body>
</html>
